@import "./item";
@import "al-style";
.order-item-navigation-block{
  height: 2rem;
  width: 20rem;
  font-size:@font-size-xlarge;
  background-color: @white;
  border-bottom: 1rpx solid #cccccc;
}
.order-item-navigation-view{
  width:4rem;
  height: 1.75rem;
  border-bottom: 0.3rem solid @white;
}
.order-item-navigation-select{
  color: #bd0520;
  border-bottom: 0.3rem solid #bd0520;
}
.order-item-navigation-top{
  margin-top:0.5rem;
}
.order-item-modal-view{
  margin:2rem;
}
.order-item-scroll-view{
  margin-top:2rem;
  padding-bottom:0.5rem;
}
